<nav>
    <div class="nav-wrapper teal">
        <a routerLink="/pokemons">Pokédex</a>
        <p *ngIf="isLoggedIn" (click)="logout()">Déconnexion</p>
        <p *ngIf="!isLoggedIn" (click)="login()">Connexion</p>
    </div>
</nav>
<router-outlet></router-outlet>
<!--
<input #input (keyup.enter)="selectPokemon(input.value)" type="number">
<p *ngIf="pokemonSelected">Vous avez sélectionné le pokémon : {{pokemonSelected?.name}}</p>
<p *ngIf="!pokemonSelected">Aucun pokémon n' a été trouvé.</p>
-->